---
# vim: ts=2:sw=2:et:sta:si
- name: Set up OpenBSD MacBook
  hosts: localhost
  connection: local
  become: true
  become_method: su
  vars:
    openbsd_user: andrian
  handlers:
    - name: Refresh capabilities for staff
      ansible.builtin.command: cap_mkdb /etc/login.conf.d/staff
  tasks:
    - name: Set up trackpad
      ansible.builtin.copy:
        dest: /etc/wsconsctl.conf
        mode: 0644
        owner: root
        group: wheel
        backup: true
        content: |
          mouse1.tp.mtbuttons=1
          mouse1.reverse_scrolling=1

    - name: Disable ssh-add in /etc/X11/xenodm/Xsession
      ansible.builtin.replace:
        path: /etc/X11/xenodm/Xsession
        regexp: '^(?!#)(\s*ssh-add < /dev/null)$'
        replace: '# \1'
        backup: true

    - name: Disable xconsole in /etc/X11/xenodm/Xsetup_0
      ansible.builtin.replace:
        path: /etc/X11/xenodm/Xsetup_0
        regexp: '^(?!#)(\s*\$\{exec_prefix\}/bin/xconsole.*)$'
        replace: '# \1'
        backup: true

    - name: Change WIDTH > 800 from if to elif
      ansible.builtin.replace:
        path: /etc/X11/xenodm/Xresources
        regexp: '^#if\s+WIDTH\s*>\s*800\b'
        replace: '#elif WIDTH > 800'
        backup: true

    - name: Add WIDTH > 2000 xlogin block before WIDTH > 800 block
      ansible.builtin.blockinfile:
        path: /etc/X11/xenodm/Xresources
        marker: "! {mark} Added by Ansible"
        insertbefore: '^#elif WIDTH > 800'
        block: |
          #if WIDTH > 2000
          xlogin*greetFace:       Clear Sans-20:bold:italic:dpi=160
          xlogin*face:            Clear Sans-14:dpi=160
          xlogin*promptFace:      Clear Sans-14:bold:dpi=160
          xlogin*failFace:        Clear Sans-14:bold:dpi=160
          Xcursor.theme: Adwaita
          Xcursor.size: 40

    - name: Set up apmd
      ansible.builtin.service:
        name: apmd
        arguments: "-A"
        enabled: true
        state: started

    - name: Set up sysctls
      ansible.posix.sysctl:
        name: "{{ item.key }}"
        value: "{{ item.value }}"
      loop: "{{ _sysctls | dict2items }}"
      vars:
        _sysctls:
          "kern.maxproc": 8192
          "kern.maxfiles": 32768
          "kern.maxthread": 16384
          "kern.maxvnodes": 100000
          "kern.shminfo.shmall": 536870912
          "kern.shminfo.shmmax": 2147483647
          "kern.shminfo.shmmni": 4096
          "kern.somaxconn": 1024
          "net.inet.udp.recvspace": 262144
          "net.inet.udp.sendspace": 262144
          "net.inet.tcp.mssdflt": 1460
          "net.inet.tcp.keepidle": 300
          "net.inet.ip.ifq.maxlen": 4096
          "net.inet6.ip6.ifq.maxlen": 4096

    - name: Set capabilities for staff class
      ansible.builtin.copy:
        dest: /etc/login.conf.d/staff
        owner: root
        group: wheel
        mode: 0644
        content: |
          # Managed by Ansible
          datasize-cur=4096M:\
            :datasize-max=7936M:\
            :maxproc-cur=1024:\
            :maxproc-max=2048:\
            :openfiles-cur=8192:\
            :openfiles-max=15360:\
            :stacksize-cur=16M:\
            :stacksize-max=32M:\
            :ignorenologin:\
            :requirehome@:\
            :tc=default:\
            :lang=en_US.UTF-8:
      notify: Refresh capabilities for staff

    - name: Use staff login class for main system user
      ansible.builtin.user:
        name: "{{ openbsd_user }}"
        login_class: staff
