---
- name: Set up OpenBSD MacBook
  hosts: localhost
  connection: local
  become: true
  become_method: su
  tasks:
    - name: Set up trackpad
      ansible.builtin.copy:
        dest: /etc/wsconsctl.conf
        mode: 0644
        owner: root
        group: wheel
        backup: true
        content: |
          mouse1.tp.mtbuttons=1
          mouse1.reverse_scrolling=1

    - name: Disable xconsole in /etc/X11/xenodm/Xsetup_0
      ansible.builtin.replace:
        path: /etc/X11/xenodm/Xsetup_0
        regexp: '^(?!#)(\s*\$\{exec_prefix\}/bin/xconsole.*)$'
        replace: '# \1'
        backup: true

    - name: Change WIDTH > 800 from if to elif
      ansible.builtin.replace:
        path: /etc/X11/xenodm/Xresources
        regexp: '^#if\s+WIDTH\s*>\s*800\b'
        replace: '#elif WIDTH > 800'
        backup: true

    - name: Add WIDTH > 2000 xlogin block before WIDTH > 800 block
      ansible.builtin.blockinfile:
        path: /etc/X11/xenodm/Xresources
        marker: "! {mark} Added by Ansible"
        insertbefore: '^#elif WIDTH > 800'
        block: |
          #if WIDTH > 2000
          xlogin*greetFace:       Clear Sans-20:bold:italic:dpi=160
          xlogin*face:            Clear Sans-14:dpi=160
          xlogin*promptFace:      Clear Sans-14:bold:dpi=160
          xlogin*failFace:        Clear Sans-14:bold:dpi=160
          Xcursor.theme: Adwaita
          Xcursor.size: 40

    - name: Set up apmd
      ansible.builtin.service:
        name: apmd
        arguments: "-A"
        enabled: true
        state: started
